*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Darumadrop One", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --black: #282828;
    --white: #F9F6EF;
    --blue: #193497;
    --grey: #EAE6E0;
    --herb: #708C69;

}

body {
    min-height: 100svh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--white);
    padding: 1em;

    border-radius: 0.5rem;
    outline: 2px solid var(--black);
    box-shadow: 10px 10px var(--black);
}

main h1 {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    border-bottom: 2px solid var(--black);
}

main ul {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

main ul li {
    list-style: none;
    padding: 0.75rem;
    margin-bottom: 0.5em;
}

main > ul > li {
    font-size: 1.5rem;
}

main ul > ul li {
    border-radius: 0.5em;
    outline: 2px solid var(--black);
    box-shadow: 6px 3px var(--black);

    padding: 0px;
    background-color: var(--herb);

    transition: font-size 0.2s, transform 0.5s;
}

main ul > ul:last-child li {
    background-color: var(--blue);
}

main ul > ul li:hover {
    cursor: pointer;
    font-size: 1.25rem;
    background-color: white;
    transform: translateX(32px);
}


main ul > ul li:hover a {
    color: var(--herb);
    padding: 1.75em;
}

main ul > ul:last-child li:hover a {
    color: var(--blue);
    padding: 1.75em;
}

a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    margin: 0px;

    color: white;
    text-decoration: none;

    transition: padding 0.3s;
}